/* Ukuran Default Untuk*/
body{
    margin: 0px;
    border: 13px solid;
    border-color: rgb(66, 255, 192);
}

.main-header{
    text-align: center;
    overflow: hidden;
}

.main-header>h1{
    background-color: aqua;
    margin: 0px;
    padding-top: 5px;
    color:white;
}

.main-header>p{
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        color: blue;
        animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(300%);
    }
}

.selection{
    display: flex;
    flex-direction: column;
}

.selection-btn{
    height: 32px;
    border: none;
}

.blue-btn{
    background-color: lightskyblue;
    color: white;
    
}

.blue-btn:hover{
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.green-btn{
    background-color: greenyellow;
    color: white;
}

.green-btn:hover{
    height: 40px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.second-header{
    margin-top: 10px;
    text-align: center;
}

.gambar{
    text-align: center;
    margin: 30px;
}

.gambar2{
    text-align: center;
    margin: 41.9px;
}

img {
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.rumus{
    font-size: 24px;
    margin-left: 20px;
    text-align: left;
}

.border-2{
    background-color: sandybrown;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.border-3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

label{
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
}

input{
    margin-bottom: 4px;
    border: none;
    border-radius: 8px;
    width: 50%;
    padding: 5px;
    text-align: center;    
}

.hasil{
    border: 2px solid;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.hasil-btn{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.hasil-btn>button{
    width: 10%;
    height: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;

}

.hitung{
    background-color: green;
}

.hitung:hover{
    background-color: rgb(52, 253, 52);
}

.reset{
    background-color: red;
}

.reset:hover{
    background-color: rgb(254, 138, 180);
}

.main-section{
    display: flex;
}

.main-section>aside{
    flex: 1;
    border: 4px solid;
}


@media only screen and (max-width: 599px) {
    .main-header>h1 {
        font-size: 20px;
    }

    .selection-btn {
        height: 28px;
        font-size: 14px;
    }

    img {
        width: 150px;
    }

    .rumus {
        font-size: 20px;
    }

    input {
        width: 80%;
    }

    .hasil-btn>button {
        width: 20%;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section>aside {
        border: 2px solid;
    }
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .main-header>h1 {
        font-size: 24px;
    }

    .selection-btn {
        height: 30px;
        font-size: 16px;
    }

    img {
        width: 180px;
    }

    .rumus {
        font-size: 22px;
    }

    input {
        width: 60%;
    }

    .hasil-btn>button {
        width: 15%;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section>aside {
        border: 2px solid;
    }
}


@media only screen and (min-width: 1025px) {
    .main-header>h1 {
        font-size: 32px;
    }

    .selection-btn {
        height: 32px;
        font-size: 18px;
    }

    img {
        width: 200px;
    }

    .rumus {
        font-size: 24px;
    }

    input {
        width: 50%;
    }

    .hasil-btn>button {
        width: 10%;
    }

    .main-section {
        flex-direction: row;
    }

    .main-section>aside {
        border: 4px solid;
    }
}